<!DOCTYPE html>
<html>
<head>
    <title>Training</title>
    <link rel="stylesheet" href="vendor/foundation/stylesheets/foundation.min.css">
</head>
<body>
    <div ng-app="app">
        <input type="text" ng-model="model.title">
        <input type="text" ng-model="model.content">
        <zippy title="{{model.title}}">
            This is de model.content {{model.content}}
        </zippy>
    </div>
<script src="vendor/angular-1.0.4/angular.js"></script>
<script src="app/js/main.js"></script>
</body>
</html>